:root {
  --primary-100: #2563eb;
  --primary-200: #598ef3;
  --primary-300: #d3e6fe;
  --accent-100: #d946ef;
  --accent-200: #fae8ff;
  --text-100: #ffffff;
  --text-200: #94a3b8;
  --bg-100: #1e293b;
  --bg-200: #334155;
  --bg-300: #475569;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-100);
}

/**************** COLORS ****************/

.text-blue-1 {
  color: var(--primary-100) !important;
}

.text-blue-2 {
  color: var(--primary-200) !important;
}

.text-blue-3 {
  color: var(--primary-300) !important;
}

.text-pink-1 {
  color: var(--accent-100) !important;
}

.text-pink-1 {
  color: var(--accent-200) !important;
}

.text-white {
  color: var(--text-100) !important;
}

.text-grey-2 {
  color: var(--text-200) !important;
}

.bg-grey-1 {
  background: var(--bg-100) !important;
}

.bg-grey-2 {
  background: var(--bg-200) !important;
}

.bg-grey-3 {
  background: var(--bg-300) !important;
}

.normal-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #9e9e9e;
}

.fighting-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #e64a19;
}

.flying-card {
  border-radius: 20px;
  color: #000000;
  background-image: radial-gradient(ellipse, #eceff1 40%, #4fc3f7 100%);
}

.poison-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #7b1fa2;
}

.ground-card {
  border-radius: 20px;
  color: #000000;
  background-color: #ddbb55;
}

.rock-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #a38c21;
}

.bug-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #689f38;
}

.ghost-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #512da8;
}

.steel-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #78909c;
}

.fire-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #fd7d24;
}

.water-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #4491c3;
}

.grass-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #388e3c;
}

.electric-card {
  border-radius: 20px;
  color: #000000;
  background-color: #ffeb3b;
}

.psychic-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #e040fb;
}

.ice-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #81d4fa;
}

.dragon-card {
  border-radius: 20px;
  color: #ffffff;
  background-image: radial-gradient(ellipse, #53a4cf 25%, #d12c0f 100%);
}

.dark-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #212121;
}

.fairy-card {
  border-radius: 20px;
  color: #ffffff;
  background-color: #ff80ab;
}
