/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/
@import url('https://fonts.cdnfonts.com/css/circular-std');

$typography-font-family: 'Circular Std', sans-serif;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$primary: #2563eb;
$accent: #d946ef;

$dark: #334155;
$dark-page: #1e293b;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
